body {
  background-image: url("../img/1bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 60px;
}

header div button {
  background: #da6868;
  border: 3px solid #000000;
  border-radius: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  width: 130px;
  height: 30px;
}

header div {
  background-image: url("../img/sabre.png");
  background-repeat: no-repeat;
  width: 800px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 25px;
  color: #000000;
  line-height: 40x;
}

header div p {
  margin: 0 80px;
}

header button {
  background: yellow;
  border: 3px solid #000000;
  border-radius: 10px;
  width: 200px;
  height: 52px;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #000000;
  margin-right: 80px;
}
header button:hover {
  color: yellow;
  background-color: rgb(0, 0, 0);
  border: 3px solid yellow;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
  width: 80%;
  grid-column-gap: 20px;
  grid-row-gap: 70px;
}

main img {
  width: 141 px;
  height: 250px;
}
